@charset "utf-8";
section {
	background-color:#e3fafc;
}

.tab{position: relative; margin: 0 18px 0px; border: 1px solid #fff; border-radius: 10px; overflow: hidden;background-color: #fff;top: 10px;}
.tab li{width: 50%;float: left;background-color: #00d0e4;text-align: center;line-height: 29px;height: 29px;}
.tab li a{color:#fff;font-size: 14px;}
.tab .now{background-color: #fff;}
.tab .now a{color:#019baa;}

.tab li:first-child{
	border-radius: 10px 0 0 10px;
}

.tab li:last-child{
	border-radius: 0 10px 10px 0 ;
}

.user-list {
	display:-webkit-box;
	padding: 14px 0 10px 0;
    margin: 0 6px;
}
/*.user-list li {
	width:162px;
	height:162px;
	float:left;
	margin-left:10px;
}*/
.user-list>div:nth-child(1) {
	margin-left: 10px;
	position:relative;
	width:50px;
}
.user-list>div:nth-child(1)>p:nth-child(1) {
	color:#00d0e4;
	font-size:12px;
}
.user-list>div:nth-child(1)>p:nth-child(2) {
	color:#414a4b;
	font-size:12px;
	margin-top: 4px;
}
.user-list>div:nth-child(2) {
	position:relative;
	flex: 1;
	-webkit-flex:1;
	-webkit-box-flex:1;
}
.user-list .list{
	  -webkit-box-flex: 1;
  position: relative;
  overflow: hidden;
  
}

.user-list .list li {
	  position: relative;
  overflow: hidden;
  cursor: pointer;
  
	  width: 33%;
	  float: left;
}
.user-list .list li img {
	max-width:100%;
	max-height: 100%;
}
.user-list .list li .pic {
	overflow: hidden;
	position: relative;
	margin: 0 5px;
  	box-sizing: border-box;
}
.user-list .list li .pic:after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	box-shadow: 0 0 36px 10px rgba(0, 208, 228, 1);
	height: 0px;
	z-index: 1;
}
.user-list .list li .tip {
	position: absolute;
	left: 0px;
	bottom: 2px;
	width: 100%;
	padding: 0 5px;
	box-sizing: border-box;
	font-size: 12px;
	color: #fff;
	z-index: 2;
}
.user-list .list li .tip:after {
	content: "";
	background-image: url(../images/itoshare.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 13px;
	height: 11px;
	position: absolute;
	right: 3px;
	background-size: contain;
}

.o-list {
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-position: top center;

}
.o-list>div {
	position:relative;
	width:100%;
	margin-top: 10px;
}
.o-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}
.o-list li {
	margin-bottom: 3px;
}
.o-list ul {
	position: relative;
	width: 50%;
	display: inline-block;
	float: left;
	overflow: hidden;
}
.o-list ul:nth-child(1) {
	
}
.o-list ul:nth-child(2) {
	
}
.o-list li img {
	width: 100%;
}
.o-list li .tip-top {
	  position: absolute;
  background-color: rgba(0,0,0,0.75);
  width: 90%;
  line-height: 18px;
  padding-left: 10px;
  top: 8px;
  right: 0;
  z-index: 2;
}
.o-list li .tip-top span {
	  display: inline-block;
  font-size: 12px;
  color: #fff;
  width: 100%;
  overflow: hidden;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 1px;
}
.o-list li .tip-top:before {
	content: "";
	background-image: url(../images/itip.png);
	background-repeat: no-repeat;
	width: 7px;
	height: 15px;
	display: inline-block;
	position: absolute;
	left: 1px;
	top: -5px;
	  background-size: contain;
}
.o-list li .tip-bottom {
	position: absolute;
  height: 25px;
  width: 100%;
  line-height: 25px;
  color: #fff;
  font-size: 14px;
  padding-left: 10px;
  box-sizing: border-box;
  bottom: 5px;
  z-index: 2;
}
.o-list li .tip-bottom i {
	background-image: url(../images/ihand-w.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 0px;
	z-index: 10;
	  background-size: contain;
}
.o-list li .pic {
	overflow: hidden;
	position: relative;
	cursor: pointer;
	margin: 0 5px;
}
.o-list li .pic:after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	box-shadow: 0 0 30px 25px rgba(24, 26, 26, 1);
	height: 0px;
	z-index: 1;
}
.loading-min {
	position: absolute;
	text-align: center;
	width: 100%;
	opacity: 0.6;
	top: 10px;
}
.loading-min img {
	width: 40px;
}
.swiper-slide {
	background-color: #e3fafc;
}
.fiex-pic {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	z-index: 2000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.fiex-pic {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	z-index: 2000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.fiex-pic .flex {
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}
.fiex-pic .pic-panel {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	height: auto;
	position: relative;
}
.fiex-pic .pic-panel img {
	max-width: 100%;
	max-height: 100%;
}
.fiex-pic .tip-top {
	position: absolute;
	background-color: rgba(0,0,0,0.75);
	width: 320px;
	line-height: 35px;
	bottom: 15px;
	right: 0;
	z-index: 2;
	text-align: left;
	padding: 10px;
	padding-left: 26px;
}
.fiex-pic .tip-top span {
	display: inline-block;
	font-size: 24px;
	color: #fff;
	width: 100%;
}
.fiex-pic .tip-top:before {
	content: "";
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	background-position: -111px -88px;
	width: 13px;
	height: 30px;
	display: inline-block;
	position: absolute;
	left: 3px;
	top: -10px;
}
header>div {
	padding-top: 3px;
}
/**/