@charset "utf-8";

section{
	padding:0 14px;
	box-sizing: border-box;
}

section{
	overflow:auto;
	background-color:#e3fafc;
}

h1{
  font-size: 12px;
  color: #00d0e4;
  line-height: 12px;
  padding-left: 1px;
  padding-top: 15px;
  font-weight: bolder;
}
label{
	display:block;
	color:#414a4b;
	font-size:14px;
	line-height:24px;
	 font-weight: bolder;
}

.pic-box{
	display:-webkit-box;
	margin-bottom:50px;
}

.pic-box .p-l{
	-webkit-box-flex:1;
	position:relative;
	overflow:hidden;
}

.pic-box .p-l img{
	width:100%;
}

.pic-box .p-r{
	position:relative;
	width:100px;
}

.pic-box .p-r>div{
	text-align: center;
	width:100%;
	background-color:#fff;
}

.pic-box .p-r .count{
	border-bottom:1px solid #f6f6f6;
	height:51px;
	line-height:51px;
	color:#3f9099;
	font-size:12px;
}

.pic-box .p-r .b-share{
	cursor:pointer;
	display: table-cell;
	height: 96px;
	vertical-align: middle;
	width: 100px;
	font-size:12px;
	color:#3f9099;
}

.b-share i{
	background-image:url(../images/ishare.png);
	background-repeat:no-repeat;
	background-size: contain;
	width:30px;
	height:30px;
	display:inline-block;
}

.pic-box .p-r .b-share,.pic-box .p-r .b-praise{
	cursor:pointer;
	display: table-cell;
	height: 95px;
	vertical-align: middle;
	width: 100px;
	font-size:12px;
	color:#3f9099;
}
.pic-box .p-r .b-share:active,.pic-box .p-r .b-share.active,.pic-box .p-r .b-praise:active,.pic-box .p-r .b-praise.active{
	background-color:#fafafa;
}


.b-praise i{
	background-image:url(../images/ihand.png);
	background-repeat:no-repeat;
	background-size: contain;
	width:30px;
	height:30px;
	display:inline-block;
	margin-bottom: 5px;
}

.tip-top{
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  width: 60%;
  line-height: 16px;
  bottom: 7px;
  right: 0;
  padding: 5px;
  padding-left: 13px;
}
.tip-top span{
	display: inline-block;
	font-size: 12px;
	color: #fff;
	width: 100%;
	  letter-spacing: 1px;
}
.tip-top:before{
	content: "";
	background-image: url(../images/itip.png);
	background-repeat: no-repeat;
	width: 7px;
	height: 15px;
	display: inline-block;
	position: absolute;
	left: 1px;
	top: -5px;
	background-size: contain;
}/**/
