@charset "utf-8";
section{background-color:#00d0e4;}
.theme{background-color:#00d0e4;text-align:center;z-index:200;padding:5px 0 10px 0;overflow: initial;}
.s-c{z-index:150;overflow: initial;}
.theme label{font-size:18px;color:#fff;display:inline-block;vertical-align:middle;margin-right: 18px;}
.select-panel{display:inline-block;width:55.3%;height:35px;vertical-align:middle;position: relative;}
.select-panel .select-show{position:relative;width:100%;height:100%;padding: 0 50px 0 20px;box-sizing: border-box;background-color:#00d0e4;border:1px solid #fff;cursor:pointer;}
.select-panel .select-show input{color: #fff;font-size:14px;box-sizing: border-box;width:100%;height:100%;background-color:transparent;border:none;text-align:center;cursor:pointer;overflow: hidden;word-wrap: normal;text-overflow: ellipsis;white-space: nowrap;}
.select-panel .select-show input:disabled,.select-panel .select-show input[disabled]{color: #fff;background-color: transparent;opacity: 1;}
.select-panel .select-show:after{content:"";position:absolute;right:8px;top:13px;background-image:url(../images/idown-02.png);background-repeat:no-repeat; background-size: contain;display:inline-block;width:17px;height:9px;}
.select-panel .select-list{position:absolute;width:100%;border:1px solid #fff;border-top:none;display:none;box-sizing:border-box;max-height: 200px;overflow: auto;}
.select-panel .select-list li{font-size: 14px; height: 29px; line-height: 29px; border-top: 1px dashed #fff; background-color: #0bbecf; cursor: pointer; box-sizing: border-box; color: #fff; padding: 0 7px; overflow: hidden; word-wrap: normal; text-overflow: ellipsis; white-space: nowrap; text-align: left;}
.select-panel .select-list li:active{background-color:#04a1b1;}
.select-panel .select-list li:first-child{border-top:none;}
.select-panel.active .select-show{border:1px solid #fff;border-bottom:1px dashed #fff;background-color:#0bbecf;}
.select-panel.active .select-show input{color:#fff;}
.select-panel.active .select-list{display:block;z-index:80;}
.p-s-2{background-color:#02c5d7;padding:20px 0;text-align:center;}
.p-b-2>div{text-align:center;}
.p-s-2 label{font-size:18px;color:#fff;display: inline-block;vertical-align: middle;margin-right: 10px;}
.p-s-2 .select-panel:nth-child(2){width: 29.6875%;margin-right:12px;}
.p-s-2 .select-panel:nth-child(3){width: 37.5%;position: initial;}
.p-s-2 .select-show{z-index: 100;background-color:#02c5d7;border:1px solid #fff;}
.p-s-2 .select-show input{color:#fff;}
.p-s-2 .select-panel:nth-child(3) .select-list{left: 1%; border-top: 1px solid #fff; top: 54px; width: 98%;}
.p-a{position:relative;}
.p-a li{padding: 0px;margin-bottom:3px;}
.p-a li .a-b{position: relative; height: 45px; line-height: 45px; background-color: #e3fafc; border-top: 1px solid #fff; border-bottom: 1px solid #fff; text-align: center; color: #05a6b6; font-size: 18px; cursor: pointer;}
.p-a li .a-b i{background-image: url(../images/iadd.png); background-repeat: no-repeat; display: inline-block; width: 30px; height: 30px; vertical-align: middle; margin-right: 20px; background-size: contain;}
.p-a li .a-b span{display:inline-block;vertical-align:middle;}
.p-a li .a-b{}
.p-a li .a-s{display:none;padding:10px 26px;border:1px solid #d3f7fa;background-color:#e3fafc;position: relative;}
.p-a li .a-s>div{min-height: 95px;text-align:center;vertical-align:middle;}
.p-a li .a-s .a-l{width: 60%;background-color:#fff;position:relative;}
.p-a li .a-s .a-l img{width: 100%;}
.p-a li .a-s .a-r{cursor:pointer;width: 40%;background-color:#e7eff0;}
.p-a li .a-s .a-r{background-image: url(../images/iclear.png); background-repeat: no-repeat; background-position: center center;    background-size: 22px 22px;}
input[type=file]{  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;}
.b-g{margin-top: 25px;margin-bottom: 25px;position: relative;width: 100%;text-align: center;max-width: inherit;}
.b-g button{background-color:#ffc332;height: 44px;font-size: 18px;color:#fff;width: 80%;margin: 0 15px;}
.b-g button:active{background-color:#f8bd30;}
.b-g a{clear:both;margin-top:10px;padding:10px;display:block;font- size:28px;color:#fff;}
.b-g a:active{color:#9af5fe;}
/**/